<%- include('partial/header'); %>

    <body>
        <h2>
            <%= name %>
        </h2>
        <button><a href="/main"><p> Main Page</p></a></button>
        <br>
        <h3>Reservations</h3>
        <% reservations.forEach(function(reserve){ %>
            <p>
                Time =
                <%= reserve.date%>
                    People =
                    <%= reserve.people%>
            </p>
            <%})%>

    </body>

    <%- include('partial/footer'); %>